---
- name: Set hostname
  hostname:
    name: "{{ set_hostname }}"
  when: set_hostname is defined

- name: Update /etc/hosts with hostname
  lineinfile:
    path: /etc/hosts
    regexp: "^127\\.0\\.1\\.1"
    line: "127.0.1.1 {{ set_hostname }}"
  when: set_hostname is defined

- name: Create user
  user:
    name: "{{ create_user }}"
    shell: /bin/zsh
    groups: sudo
    append: yes
    create_home: yes
    state: present
  when: create_user is defined

- name: Allow user passwordless sudo
  copy:
    dest: "/etc/sudoers.d/{{ create_user }}"
    content: "{{ create_user }} ALL=(ALL) NOPASSWD:ALL"
    owner: root
    group: root
    mode: "0440"
    validate: "visudo -cf %s"
  when: create_user is defined

- name: Create .ssh directory for user
  file:
    path: "/home/{{ create_user }}/.ssh"
    state: directory
    owner: "{{ create_user }}"
    group: "{{ create_user }}"
    mode: "0700"
  when: create_user is defined

- name: Copy authorized_keys to user
  copy:
    src: /root/.ssh/authorized_keys
    dest: "/home/{{ create_user }}/.ssh/authorized_keys"
    owner: "{{ create_user }}"
    group: "{{ create_user }}"
    mode: "0600"
    remote_src: yes
  ignore_errors: yes
  when: create_user is defined

- name: Set timezone to UTC
  timezone:
    name: UTC

- name: Configure locale
  locale_gen:
    name: en_US.UTF-8
    state: present

- name: Set default locale
  copy:
    dest: /etc/default/locale
    content: |
      LANG=en_US.UTF-8
      LC_ALL=en_US.UTF-8
    owner: root
    group: root
    mode: "0644"

- name: Install essential packages
  apt:
    name:
      - curl
      - wget
      - git
      - build-essential
      - libssl-dev
      - libffi-dev
      - zlib1g-dev
      - libbz2-dev
      - libreadline-dev
      - libsqlite3-dev
      - llvm
      - libncurses5-dev
      - libncursesw5-dev
      - xz-utils
      - tk-dev
      - liblzma-dev
      - ca-certificates
      - gnupg
      - lsb-release
      - software-properties-common
      - htop
      - vim
      - tmux
      - jq
      - unzip
      - zsh
    state: present
    update_cache: yes

- name: Set zsh as default shell for all users
  replace:
    path: /etc/default/useradd
    regexp: "^SHELL=.*"
    replace: "SHELL=/bin/zsh"

- name: Set zsh as default shell for root
  user:
    name: root
    shell: /bin/zsh

- name: Configure system limits
  copy:
    dest: /etc/security/limits.d/99-aparece.conf
    content: |
      * soft nofile 65535
      * hard nofile 65535
      * soft nproc 65535
      * hard nproc 65535
    owner: root
    group: root
    mode: "0644"
