---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Upgrade all packages
  apt:
    upgrade: dist
    autoremove: yes

- name: Install security packages
  apt:
    name:
      - ufw
      - fail2ban
      - unattended-upgrades
      - apt-listchanges
      - ubuntu-advantage-tools
    state: present

- name: Enable Ubuntu Pro ESM Apps
  command: pro enable esm-apps --assume-yes
  register: esm_result
  changed_when: "'already enabled' not in esm_result.stdout"
  failed_when: false

- name: Configure sysctl security parameters
  template:
    src: sysctl.conf.j2
    dest: /etc/sysctl.d/99-security.conf
    owner: root
    group: root
    mode: "0644"
  notify: Reload sysctl

- name: Configure UFW defaults
  ufw:
    direction: "{{ item.direction }}"
    policy: "{{ item.policy }}"
  loop:
    - { direction: incoming, policy: deny }
    - { direction: outgoing, policy: allow }

- name: Allow SSH through UFW
  ufw:
    rule: allow
    port: "22"
    proto: tcp

- name: Enable UFW
  ufw:
    state: enabled

- name: Configure fail2ban for SSH
  copy:
    dest: /etc/fail2ban/jail.local
    content: |
      [sshd]
      enabled = true
      port = ssh
      filter = sshd
      logpath = /var/log/auth.log
      maxretry = 5
      bantime = 3600
      findtime = 600
    owner: root
    group: root
    mode: "0644"
  notify: Restart fail2ban

- name: Enable fail2ban service
  systemd:
    name: fail2ban
    enabled: yes
    state: stopped # TODO: enable after iterating

- name: Configure unattended-upgrades
  copy:
    dest: /etc/apt/apt.conf.d/20auto-upgrades
    content: |
      APT::Periodic::Update-Package-Lists "1";
      APT::Periodic::Unattended-Upgrade "1";
      APT::Periodic::AutocleanInterval "7";
    owner: root
    group: root
    mode: "0644"
